.custom-navbar{
    background-color: #945928 !important;
    border: none;
    margin-bottom: 0;
}
.navbar-header img{
    height: 50px;
    width: 50px;
    float: left;
}
.top-nav-user-right{
    padding: 8px 15px;
}
.top-nav-user-right button{
    color: #945928;
    border: none;
    background-color: white;
}
.navbar-brand{
    font-family: Helvetica Neuve;
    font-style: italic;
    font-weight: 900;
    color: white;
    padding-left: 30px;
    font-size: 22px;
}